@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height:100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color:#000;
  margin:0;
  background-color: #F2F2F2;
  height:100%;

}

.list {
  list-style:none;
  margin:0;
  padding: 0;
}

.page-header {
  display:flex;
  box-sizing: border-box;
  width: 1200px;
  padding: 0 70px;
}

.page-footer {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  box-sizing: border-box;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  width: 142px;
  box-sizing: border-box;
  justify-content: space-between;
}

.page-container {
  background-color:#FFF;
  width: 1200px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  min-height: 100%;
}

.main-index {
  flex-grow: 1;
}

.navigation {
display:flex;
flex-wrap: wrap;
flex-grow: 1;
}

.navigation-list {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 339px;
  flex-wrap: wrap;

}

.navigation-item {
  flex-grow: 1;
}

.navigation-user-list {
  display:flex;
  width: 88px;
  margin-left:auto;
}

.logo {
  display:block;
  width:140px;
  height: 70px;
  margin-right:28px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:#000;
  text-decoration: none;
}

 .hero {
  background-image:  url("../img/divider.png"), url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-color: #ada0af;
  background-size: contain, cover;
  background-position: bottom, center ;
  width: 1200px;
  min-height: 485px;
  padding-top:51px;
  padding-bottom: 82px;
  box-sizing: border-box;
 }

 .hero-img {
  width: 458px;
  display:block;
  margin: 0 auto;
 }

 .titles {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin:0;
 }

 .description
  {
  color:#333;
  text-align: center;
  margin:0;
 }

 .titles-light,
 .description-light {
  color:#FFF;
 }


 .advantages-container {
  width: 1200px;
  padding: 69px 69px;
  min-height:261px;
  box-sizing: border-box;
}

.advantages-title {
  margin-bottom: 25px;
}

 .advantages-item h3,
 .serviсe-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
 }

 .advantages-item .headers-light,
 .advantages-item .description-light {
  color: #FFF;
 }

 .advantages-item p,
 .serviсe-item p {
  font-size: 18px;
  line-height: 21px;
  color:#333;
  text-align: center;
  margin:0;
 }


  .advantages-item:first-child,
 .advantages-item:last-child{
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  background-color: #82B3D3;
 }

 .advantages-text-wrapper{
  padding:103px 85px;
  width: 400px;
  box-sizing: border-box;
 }


.light-blue {
  background-color:#83b3d31f;
}
.blue {
  background-color:#83b3d333;
}

.serviсe-container {
  padding: 64px 64px;
}

.serviсe-title {
  margin-bottom:30px;
}

.serviсe-list{
  display:flex;
  flex-wrap: wrap;
}

.serviсe-item{
  width:400px;
  padding: 80px 85px;
  box-sizing: border-box;
}

.search{
  padding: 96px 304px;
  width: 1200px;
  box-sizing: border-box;
}

.search-title{
  margin-bottom: 20px;
}

.search-container{
  margin-bottom: 54px;
}

.link-container-search{
  margin:0 auto;
  width: 376px;
  box-sizing: border-box;

}

.subscribe {
  width:1200px;
  box-sizing: border-box;
  padding: 96px 258px;
}

.subscribe-container{
  margin:0 auto;
}

.subscribe-custom{
  background-image: url("../img/Subscribe_main.jpg");
  background-repeat: no-repeat;
  background-color: #8b7275;
  background-size: cover;
}

.subscribe-form{
  display:flex;
  justify-content: center;
  width:684px;
  margin: 0 auto;

}

 input::placeholder {
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}
.search-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}
.button-dark{
  background-color:  #756157;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  color:#FFF
}
.button-light {
  background-color:#82B3D3;
  color: #FFF;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
}

.button-min {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.button-max{
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  display: block;
  padding: 8px 50px;
}
.footer-contact-phone{
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color:#000;
}

.header-search-container {
  background-image:  url("../img/Subscribe_catalog.jpg");
  background-repeat: no-repeat;
  background-color: #8b7275;
  background-size: cover;
  color:#FFF;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color:#FFF;
  margin:0;
}
.catalog-filter-title,
prise-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-button-light {
  font-size: 16px;
font-weight: 700;
line-height: 20px;
text-transform: uppercase;
color:#FFF
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color:#333;
}

.catalog-item-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #000;
}

.description-catalog-item{
  font-size: 18px;
  line-height: 21px;
  color:#333;
}

.description-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
}

.pagination-link {
  text-decoration: none;
  color:#FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color:#000;
  background-color: #F2F2F2;
}

.pagination-button {
  font-size: 22px;
  line-height: 26px;
  background-color: #FFF;
  color: #000;
  border-radius: 4px;
  border: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
